[submodule "ddtplugins"]
	path = ddtplugins
	url = https://github.com/cedricp/ddtplugins.git
[submodule "EcuTweaker"]
	path = EcuTweaker
	url = git@gitlab.com:DrQuark/android_can.git
	branch = master
