### ddt4all specific
/ecus/
/logs/
/btpDB/
/checkBaseDDT/
/EDT/
/failures/
/FlashingTimeAnalysis/
/OdxSpecFiles/
/vehicles/
/venv/
/zipper/
*.htm
*.zip
/images/
/graphics/
/Output/
/json/
/$29/
/Simulator/
/utt_certificates/
/TradConf.conf
/parameters.xml
/EcuList.xml

### Python generic ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### IDE generic ###
/.vscode/
/.idea/
/dist/
/.venv/

# Others
/build/
/setup.py
/setup.cfg
/setup_tools/inno-win-setup/Output/
/**/config.json
/setup_tools/inno-win-setup/version.h
/setup_tools/mac-os/build/
/setup_tools/mac-os/dist/
/.pytest_cache/
*.egg
*.egg-info
.coverage
coverage.xml
/scripts/resources.qrc
